In [1]:
import numpy as np
import pandas as pd
import datetime

calls = pd.read_csv("./csv/calls.csv")
'''msgs = pd.read_csv("./csv/messages.csv")
presences = pd.read_csv("./csv/presences.csv")'''

'msgs = pd.read_csv("./csv/messages.csv")\npresences = pd.read_csv("./csv/presences.csv")'

In [8]:
calls[['user', 'duration', 'timestamp']][10:].head()

          user  duration                       timestamp
10  7981267897         0  Thu Sep 09 20:57:55 +0100 2010
11  7981267897       605  Fri Sep 10 20:17:00 +0100 2010
12  7981267897         1  Sat Sep 11 16:44:56 +0100 2010
13  7981267897        59  Sat Sep 11 17:00:59 +0100 2010
14  7981267897      1201  Mon Sep 13 14:53:26 +0100 2010

In [2]:
print("calls.csv columns: ",calls.columns)
# print("messages.csv columns: ",msgs.columns)
# print("presences.csv columns: ",presences.columns)

calls.csv columns:  Index(['user', 'other', 'direction', 'duration', 'timestamp'], dtype='object')

In [3]:
import datetime
t = datetime.datetime.strptime(calls['timestamp'][0],'%a %b %d %H:%M:%S +0100 %Y')
t.date()

datetime.date(2010, 9, 15)

In [4]:
#calls['time'] = lambda calls['timestamp']: datetime.datetime.strptime(calls['timestamp'],'%a %b %d %H:%M:%S +0100 %Y')

print("calls.csv ", calls.user.nunique(), calls.other.nunique(), calls.duration.mean(), calls.duration.max(), calls.duration.min())
# print("messages.csv", msgs.user.nunique(), msgs.other.nunique(), msgs.length.mean(), msgs.other.max(), msgs.other.min())

calls.csv  27 706 59.863521288837745 7173 0

In [5]:
# print(calls.shape, msgs.shape, presences.shape)
print(calls.shape)

(13035, 5)

In [6]:
calls.user.value_counts()

7086312446    2306
7456622368    1902
7102745960     976
7389444649     960
7681546436     931
7408255044     709
7817341678     661
7166594208     636
7946912731     603
7163185791     484
7806391587     467
7981267897     440
7110730864     420
7122915122     335
7651896055     170
7304637408     163
7607124303     152
7839321359     126
7784425582     116
7690700998     104
7610039694      82
7541486388      79
7195393761      55
7197268544      54
7641036117      46
7375968743      29
7640835719      29
Name: user, dtype: int64

In [10]:
msgs.user.value_counts()

7163185791    15382
7981267897     7613
7102745960     7522
7681546436     7515
7946912731     6816
7456622368     6545
7817341678     6506
7690700998     6506
7784425582     3854
7806391587     3551
7110730864     2071
7086312446     1575
7408255044     1323
7541486388     1191
7839321359     1173
7610039694     1012
7166594208      970
7389444649      944
7304637408      480
7195393761      417
7607124303      219
7651896055      148
7375968743      107
7640835719       47
7197268544       42
7641036117        7
7122915122        6
Name: user, dtype: int64

In [11]:
presences.user.value_counts()

59:CF:7B:7A:90:F3    402891
E1:7A:37:18:91:17    398008
76:5D:A5:9E:CB:96    389240
FE:47:2E:3F:D2:AC    376630
75:C1:B0:ED:D4:D4    314749
76:9D:81:F3:F3:75    303439
44:09:79:A3:BC:33    301474
23:93:EE:CE:3D:F4    297486
72:99:26:A7:11:5D    253615
04:4F:C5:ED:A8:05    247935
6C:7C:4E:D0:70:9C    246967
1A:60:76:BD:21:38    235019
D3:FA:22:5A:FD:5F    234308
2B:4E:E5:5B:72:03    224436
13:2A:CD:CD:A9:CC    215150
22:7E:E8:12:DF:40    177617
3D:D9:5B:DE:E0:D7    139189
C8:51:2A:05:66:B0    138361
C9:75:B4:AB:C0:11    129897
A7:CC:BA:E2:D0:66     90587
D3:53:38:8C:B1:1A     39093
32:48:6D:7D:4C:43     37573
9A:7E:81:52:9B:58     33492
50:4B:5C:AB:4A:AD     25072
B3:3D:F2:C5:23:53     19203
A5:77:5C:C5:8E:BB     14632
39:17:15:39:4C:D9      6040
Name: user, dtype: int64

In [6]:
year, month, date, hour, minute, second, tzinfo, time_normalized = [], [], [], [], [],[], [], []
for ts in calls['timestamp']:
    t = datetime.datetime.strptime(ts,'%a %b %d %H:%M:%S %z %Y')
    year.append(t.year)
    month.append(t.month)
    date.append(t.day)
    hour.append(t.hour)
    minute.append(t.minute)
    second.append(t.second)
    tzinfo.append(t.tzinfo)
    if t.year==2010:
        time_normalized.append(t.second+t.minute*60+t.hour*3600+t.day*24*3600+(t.month-9)*31*24*3600)
    else:
        time_normalized.append(t.second+t.minute*60+t.hour*3600+t.day*24*3600+(t.month+3)*31*24*3600)
    
    
    
calls['year'] = pd.DataFrame(year)
calls['month'] = pd.DataFrame(month)
calls['date'] = pd.DataFrame(date)
calls['hour'] = pd.DataFrame(hour)
calls['minute'] = pd.DataFrame(minute)
calls['second'] = pd.DataFrame(second)
calls['tzinfo'] = pd.DataFrame(tzinfo)
calls['time_normalized'] = pd.DataFrame(time_normalized)
del calls['timestamp']

In [34]:
calls[calls['time_normalized']<=2678399]['month'].unique()   ##month 9
c1=calls[calls['time_normalized']<=5443199]                 ##month10
c1[c1['time_normalized']>2678399]['month'].unique()
calls[calls['time_normalized']>5443199]['month'].unique()
c1=calls[calls['time_normalized']<=8035199]                 ##month11
c1[c1['time_normalized']>5443199]['month'].unique()
calls[calls['time_normalized']>8035199]['month'].unique()
c1=calls[calls['time_normalized']<=10799999]                 ##month12
c1[c1['time_normalized']>8035199]['month'].unique()
calls[calls['time_normalized']>10799999]['month'].unique()
# 59+59*60+23*3600+31*24*3600+3*31*24*3600 ## 5443199

array([1], dtype=int64)

In [33]:
m = 31*24*3600
d = 24*3600
k1 = 30*d+24*3600+60*60+60
k2 = 31*d+24*3600+60*60+60

In [34]:
c1 = calls[calls['time_normalized']>k2+m]
c1 = c1[c1['time_normalized']<=k2+2*m]
c1.month.unique()

array([11, 12], dtype=int64)

In [44]:
calls[calls['month']==12]
# d1[d1['time_normalized']30*24*3600]['date'].unique()

,user,duration,year,month,date,hour,minute,second,time_normalized
8261,7456622368,14,2010,12,1,0,13,30,8122410
8372,7817341678,184,2010,12,1,7,33,26,8148806
8272,7086312446,2,2010,12,1,7,37,19,8149039
8273,7086312446,2,2010,12,1,7,38,56,8149136
8274,7086312446,4,2010,12,1,7,52,53,8149973
8276,7110730864,0,2010,12,1,8,10,27,8151027
8373,7817341678,0,2010,12,1,8,10,37,8151037
8288,7981267897,0,2010,12,1,8,15,33,8151333
8289,7981267897,0,2010,12,1,8,17,0,8151420
8290,7981267897,2,2010,12,1,8,17,43,8151463
8291,7981267897,0,2010,12,1,8,19,47,8151587
8292,7981267897,2,2010,12,1,8,20,19,8151619
8284,7806391587,53,2010,12,1,8,22,27,8151747
8277,7110730864,0,2010,12,1,8,22,30,8151750
8374,7817341678,36,2010,12,1,8,22,46,8151766
8293,7981267897,0,2010,12,1,8,23,8,8151788
8294,7981267897,46,2010,12,1,8,24,11,8151851
8278,7110730864,0,2010,12,1,8,24,21,8151861
8285,7681546436,0,2010,12,1,8,24,43,8151883
8279,7110730864,45,2010,12,1,8,25,13,8151913
8375,7817341678,0,2010,12,1,8,25,34,8151934
8376,7817341678,23,2010,12,1,8,26,13,8151973
8280,7110730864,0,2010,12,1,8,26,23,8151983
8281,7110730864,0,2010,12,1,8,27,13,8152033
8295,7981267897,13,2010,12,1,8,27,15,8152035
8282,7110730864,31,2010,12,1,8,27,23,8152043
8377,7817341678,1,2010,12,1,8,27,35,8152055
8286,7681546436,39,2010,12,1,8,28,35,8152115
8378,7817341678,1,2010,12,1,8,28,40,8152120
8379,7817341678,24,2010,12,1,8,29,17,8152157
...,...,...,...,...,...,...,...,...,...
12830,7784425582,331,2010,12,31,21,39,23,10791563
10327,7981267897,329,2010,12,31,21,40,0,10791600
10344,7456622368,10,2010,12,31,21,42,59,10791779
10330,7681546436,15,2010,12,31,22,12,10,10793530
10469,7122915122,30,2010,12,31,22,31,11,10794671
10331,7681546436,0,2010,12,31,22,33,24,10794804
10332,7681546436,0,2010,12,31,22,39,31,10795171
10333,7681546436,0,2010,12,31,22,39,59,10795199
10334,7681546436,2,2010,12,31,22,40,4,10795204
10335,7681546436,0,2010,12,31,22,40,38,10795238
10336,7681546436,22,2010,12,31,22,56,54,10796214
10337,7681546436,149,2010,12,31,22,59,22,10796362
10338,7681546436,24,2010,12,31,23,3,4,10796584
10357,7607124303,14,2010,12,31,23,3,45,10796625
10339,7681546436,0,2010,12,31,23,3,49,10796629
10340,7681546436,0,2010,12,31,23,4,0,10796640
10341,7681546436,41,2010,12,31,23,4,15,10796655
10342,7681546436,70,2010,12,31,23,5,39,10796739
10363,7681546436,33,2010,12,31,23,19,19,10797559
10364,7681546436,56,2010,12,31,23,28,27,10798107
10365,7681546436,73,2010,12,31,23,37,11,10798631
10380,7086312446,1,2010,12,31,23,44,38,10799078
10381,7086312446,121,2010,12,31,23,45,31,10799131
11256,7166594208,39,2010,12,31,23,49,9,10799349
10366,7681546436,17,2010,12,31,23,54,20,10799660
11257,7166594208,0,2010,12,31,23,58,34,10799914
11258,7166594208,0,2010,12,31,23,58,50,10799930
11259,7166594208,0,2010,12,31,23,58,55,10799935
11260,7166594208,0,2010,12,31,23,59,10,10799950
11261,7166594208,0,2010,12,31,23,59,20,10799960

In [14]:
count=0
for t in time:
    if(t.year == 1980):
        count+=1
        print(t)
print(count)

1980-02-11 07:18:23+00:00
1980-02-11 07:45:42+00:00
1980-02-11 08:04:42+00:00
1980-02-11 08:05:31+00:00
1980-02-11 08:06:18+00:00
1980-02-11 08:06:31+00:00
1980-03-25 23:28:44+01:00
1980-03-25 23:36:05+01:00
1980-03-26 00:03:34+01:00
1980-03-26 01:09:24+01:00
1980-03-26 01:15:02+01:00
1980-03-26 01:20:49+01:00
1980-03-26 02:28:27+01:00
1980-03-26 03:06:22+01:00
1980-03-26 03:16:58+01:00
1980-03-26 03:24:55+01:00
1980-03-07 22:43:33+00:00
1980-01-06 00:56:38+00:00
1980-01-06 01:17:44+00:00
1980-01-06 01:23:43+00:00
1980-01-06 02:46:38+00:00
1980-01-06 08:09:02+00:00
1980-01-06 00:17:33+00:00
1980-01-06 00:18:42+00:00
1980-01-06 00:26:02+00:00
1980-01-06 00:49:31+00:00
1980-01-06 00:51:08+00:00
1980-01-06 00:53:22+00:00
1980-01-06 00:54:43+00:00
1980-01-06 00:01:45+00:00
1980-01-06 00:01:16+00:00
31

In [9]:
calls = calls.drop(calls[calls['year']==1980].index)
#calls[calls['year']==1980].index

In [10]:
calls = calls.sort_values(by=['time_normalized'])

In [7]:
# cols = pd.get_dummies(calls.user).columns
# calls[cols] = pd.get_dummies(calls.user)
del calls['other']
del calls['direction']
# del calls['year']
# del calls['month']
# del calls['date']
# del calls['hour']
# del calls['minute']
# del calls['second']
del calls['tzinfo']

In [67]:
calls.to_csv("./csv/final_calls.csv", index=False)

In [15]:
#calls = pd.read_csv('./csv/final_calls.csv')
print(calls.shape)

(13004, 30)

In [ ]:
# del calls['Unnamed: 0']
train_set = calls[calls['time_normalized']<10713600]
test_set = calls[calls['time_normalized']>=10713600]
train_set.duration/=7173
test_set.duration/=7173
del train_set['user']
cols = train_set.columns.to_list()
#print(cols)
cols = cols[2:]+cols[0:2]
train_set = train_set[cols]
train_set.to_csv("./csv/calls_train.csv", index=False)

del test_set['user']
cols = test_set.columns.to_list()
#print(cols)
cols = cols[2:]+cols[0:2]
test_set = test_set[cols]
test_set.to_csv("./csv/calls_test.csv", index=False)

# LARGE CALLS DATASET:

In [2]:
calls_train = pd.read_csv('./csv/new_calls_data.csv')
calls_test = pd.read_csv('./csv/calls_test.csv')

In [17]:
calls_train.head()

         user  duration  time_normalized
0  7122915122  0.000000         0.016301
1  7651896055  0.000000         0.061827
2  7651896055  0.002928         0.061984
3  7651896055  0.041684         0.062241
4  7651896055  0.086435         0.062266

In [37]:
#users = pd.Categorical(calls_train.user.unique())
#users_new = users.codes
#new_ids = pd.DataFrame({'user':users.categories,'user_id':users_new})
#calls_train = pd.merge(calls_train, new_ids, on='user')
#del calls_train['user']
#calls_train = calls_train[['user_id', 'duration','time_normalized']]
#calls_train = calls_train.sort_values(by=['time_normalized'])
#calls_train = calls_train.reset_index()
#del calls_train['index']
#cols = pd.get_dummies(calls_train.user_id).columns
#calls_train[cols] = pd.get_dummies(calls_train.user_id)
#columnss = ['user_id']+cols
#columnss+=['duration','time_normalized']
#calls_train = calls_train[columnss]
calls_train.to_csv('./csv/large_calls_data.csv', index=False)

In [39]:
calls_train.shape[0]*0.8

343016.0

In [1]:
343016/0.8

428770.0